.topnav {
  /* background-color: #333; */
}

.topnav a {
  float: left;
  display: block;
  color: #2db9b9;
  font-weight: bold;
  font-family: Georgia, serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}



li {
  padding-right: 70px;
}

.Header {
  margin-top: 50px;
}
